/*********************************************
  HOME
*********************************************/

.home {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 100px;
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  h1 {
    color: $white;
    font-size: $xxxxx-large;
    font-weight: bold;
    text-transform: none;
    max-width: 1000px;

    @include w1024-down {
      font-size: $xxx-large;
    }

    @include w600-down {
      font-size: $x-large;
    }

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;

    > .typingContainer {
      width: 100%;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      gap: 10px;
      height: 50px;
      margin-top: 30px;

      @include w1024-down {
        margin-top: 15px;
        height: 35px;
      }

      @include w600-down {
        margin-top: 5px;
        height: 25px;
      }

      > span {
        color: $white;
        font-size: $xxxxx-large;
        font-weight: bold;
        text-transform: none;
        height: 100%;

        @include w1024-down {
          font-size: $xxx-large;
        }

        @include w600-down {
          font-size: $x-large;
        }
      }

      > div {
        width: 30px;
        height: 5px;
        background-color: $white;

        @include w1024-down {
          width: 25px;
          height: 3px;
        }

        @include w600-down {
          width: 15px;
          height: 3px;
        }
      }
    }
  }

  > .scroll {
    position: absolute;
    bottom: -115px;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: $white;
    font-size: $small;
    font-weight: bold;
    letter-spacing: .5px;
    text-transform: none;

    @include w1024-down {
      bottom: -35px;
    }

    @include w600-down {
      bottom: 20px;
    }

    > svg {
      fill: $white;
      width: $normal;
      height: $normal;
    }
  }
}