/*********************************************
  HOME
*********************************************/

.works {
  width: 100%;

  > .container {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: $white;
  }

  .internship, .personal {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 50px;
    padding-top: 50px;
    padding-bottom: 50px;

    @include w1024-down {
      grid-template-columns: 1fr;
    }

    > .fixedContainer {
      width: 100%;
      height: 100%;
      position: relative;

      > article {
        width: 100%;
        padding-top: 100px;

        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 20px;

        position: sticky;
        top: 0;

        > p {
          font-weight: 900;
          font-size: $xxx-large;

          @include w600-down {
            font-size: $x-large;
          }
        }

        > div {
          width: 100%;
          display: flex;
          align-items: center;

          &:first-child {
            justify-content: flex-start;

            > img {
              width: $xx-large;
              height: $xx-large;
            }
          }

          &:last-child {
            justify-content: space-between;

            > .line {
              width: 60%;
              height: 1px;
              background-color: $black;
            }
          }
        }
      }
    }

    > ul {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: flex-start;
      gap: 200px;

      @include w1024-down {
        align-items: center;
      }

      > li {
        width: 500px;
        height: 300px;

        @include w600-down {
          height: 100%;
        }

        > .card-works {
          display: block;
          width: 100%;
          height: 100%;
          transform: perspective(1000px);
          transform-style: preserve-3d;

          @include w600-down {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 30px;
          }

          .widget {
            width: 100%;
            height: 100%;
            position: relative;
            z-index: 10;
            border-radius: 20px;
            overflow: hidden;
            border: 2px solid rgba($black, .1);
            transform: translateZ(0);

            @include w600-down {
              height: 300px;
            }

            > img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: center;
            }

            &:after {
              content: "";
              width: 100%;
              height: 100%;
              display: block;
              background-color: transparent;
              position: absolute;
              top: 0;
              left: 0;

              transition: background-color $ease .3s;
            }
          }

          .tools {
            position: absolute;
            bottom: 15px;
            left: 15px;
            display: flex;
            flex-direction: row;
            gap: 5px;

            transform: translateZ(30px);

            > li {
              padding: 2px 15px;
              background-color: $black;
              border-radius: 100px;
              color: $white;
              font-weight: bold;
              text-transform: uppercase;
              font-size: $small;
            }
          }

          .link {
            position: absolute;
            bottom: 15px;
            right: 15px;
            background-color: $black;
            width: 50px;
            aspect-ratio: 1/1;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 100px;
            border: 2px solid rgba($white, .05);
            transform: translateZ(30px);

            transition: border-color $ease .3s;

            &:hover {
              border-color: $white;
            }
          }

          .content {
            position: absolute;
            z-index: 20;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 30px;
            transform: translateZ(30px);

            @include w600-down {
              position: relative;
              top: unset;
              left: unset;
              height: auto;
            }

            > p {
              position: relative;
              display: flex;
              flex-direction: row;
              flex-wrap: wrap;
              gap: 8px;

              font-size: $large;
              font-weight: 900;
              text-transform: none;
              color: $white;

              @include w600-down {
                color: $black;
              }

              > .mask {
                overflow: hidden;
                display: inline-flex;
                position: relative;

                > span {
                  white-space: nowrap;

                  transform: translateY(100px);

                  transition: transform $ease .3s;

                  @include w600-down {
                    transform: translateY(0);
                  }
                }
              }
            }
          }

          &:hover {

            .content p .mask span {
              transform: translateY(0);
            }

            > .widget:after {
              background-color: rgba($black, .6);
            }
          }
        }
      }
    }
  }

  .personal {

    > ul {
      align-items: flex-start;

      > li {

        > .card-works {

          > .link {
            display: none;
          }
        }
      }
    }
  }
}