// size golden proportions scale
// 0.382em
$xx-small     : 0.60rem;
$x-small     : 0.75rem;
$small       : 0.887rem;
$normal      : 1rem;
$medium	 	 : 1.1rem; // old $normalmore
$large       : 1.272rem;
$x-large     : 1.618rem;
$xx-large    : 2.058rem;
$xxx-large   : 2.618rem;
$xxxx-large  : 3.756rem;
$xxxxx-large : 4.236rem;
$xxxxxx-large : 8.236rem;
// 2.953em
// 3.33em
// 3.756em
// 4.236em
// 4.778em

$ease: cubic-bezier(.25,.46,.45,.94);



// --- Helvetica --- TEXT
// 300 light
// 500 medium
// 600 demi

// --- Roboto & Bitter --- TITLE
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@100;300;400;500;700;800;900&display=swap');

// Variables
$titleFont: "M PLUS Rounded 1c", sans-serif;
$textFont: $titleFont;
